/*  INST630  Final Project  Jen Bishop */

/* body element setting font and background for majority of text and page */
body {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 14px;
	color: black;
	background-color: white;
}
 
/* heading1 element setting appearance of main heading */
h1 {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-align: center;
}

/* heading2 element setting appearance for secondary heading */
h2 {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-align: center;
	border-bottom: solid black;
}

/* tile class  */
.tile {
	border: 3px solid white;
	text-align: center;
	width: 400px;
	padding: 10px;
	height: auto;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
}

/* resize tile images */
.tile img {
    width: 100%;
    height: auto;
}    

/* banner class  */
.banner {
	width: 800px;
	padding: 20px;
	height: auto;
	position: absolute;
	display: block;
	left: 50%;
	margin-left: -400px;
	bottom: 0;
}

/* resize banner image  */
.banner img {
	width: 100%;
	height: auto;
}
	

