/*  INST630  Final Project  Jen Bishop */

/* body element setting font and background for general body */
body {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 16px;
	color: black;
	background-color: white;
}
 
/* heading1 element setting appearance of main heading */
h1 {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 32px;
	font-weight: bold;
	color: black;
	text-align: center;
}

/* heading2 element setting appearance for secondary heading */
h2 {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 26px;
	font-weight: bold;
	color: black;
	text-align: center;
	border-bottom: solid black;
}

/* div for CCPL logo */
#logo {
	float: right;
}

/* tile class for image tiles */
.tile {
	border: 3px solid white;
	text-align: center;
	font-size: 18px;
	color: #404040;
	width: 400px;
	padding: 25px;
	height: 250px;
	display: block;
	float: left;
	left: 15px;
	position: relative;
	overflow: hidden;
}

/* resize tile images */
.tile img {
    width: 100%;
    height: 100%;
}    

/* banner class for banner color blocks  */
.banner {
	width: 175px;
	height: 20px;
	padding: 25px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	position: relative;
	overflow: hidden;
	display: inline;
	float: left;
	left: 10%;
	margin-top: 25px;
}

/* div for info space */
#info {
	width: 800 px;
	height: 450 px;
	text-align: left;
	padding: 10px;
	margin-top: 10px;
	position: absolute;
	display: inline-block;
	top: 75%;
	left: 20%;
}

/* class for info div border */
.ridge {
	border-style: ridge;
}
	
/* divs for color banner blocks */
#darkBlue {
	background-color: #0d387c;
}

#red {
	background-color: #ff0000;
}

#green {
	background-color: #33cc33;
}

#yellow {
	background-color: #e6e600;
}

#lightBlue {
	background-color: #005ce6;	
}
	